@page "/Returns"
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IReturnsData _db
@inject NavigationManager NavigationManager

<h1>Returns</h1>

@if (returns is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-danger">Submit To SXe</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Number</th>
                <th>Ship To</th>
                <th>Company Number</th>
                <th>Warehouse</th>
                <th>UserID</th>
                <th>Replenex Number</th>
                <th>Qty</th>
                <th>Unit of Issue</th>
                <th>Product Name</th>
                <th>SupplyPro Price</th>
                <th>SupplyPro Qty</th>
                <th>SupplyPro Qty Date</th>
                <th>Whse Qty Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in returns)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.CustomerNumber</td>
                    <td>@item.ShipTo</td>
                    <td>@item.Cono</td>
                    <td>@item.Whse</td>
                    <td>@item.UserID</td>
                    <td>@item.ReplenexNumber</td>
                    <td>@item.Qty</td>
                    <td>@item.UnitOfIssue</td>
                    <td>@item.ProductName</td>
                    <td>@item.SupplyProPrice</td>
                    <td>@item.SupplyProQty</td>
                    <td>@item.SupplyProQtyDate</td>
                    <td>@item.WhseQtyAvail</td>
                    <td><a class="alert alert-primary" href="/editreturn/@item.ID">Edit</a><a class="alert alert-danger" href="/deletereturn/@item.ID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ReturnModel> returns;

    protected override async Task OnInitializedAsync()
    {
        returns = await _db.GetReturns();
    }

}
